
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">
            <h1>PeerXp</h1>
          </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <!-- <li [routerLinkActive]="['active']" class="nav-item">
                <a class="nav-link" routerLink="/">Home</a>
              </li> -->
             
              <li [routerLinkActive]="['active']" class="nav-item">
                <a class="nav-link" routerLink="/newtc">Add Ticket</a>
              </li>
              <li [routerLinkActive]="['active']" class="nav-item">
                <a class="nav-link" routerLink="/managetc">Manage Ticket</a>
              </li>
              <li [routerLinkActive]="['active']" class="nav-item" *ngIf='isLoggedIn()'>
                <a class="nav-link" (click)="logout()" routerLink="/login">Log Out</a>
              </li>
              <li [routerLinkActive]="['active']" class="nav-item" *ngIf='!isLoggedIn()'>
                <a class="nav-link"  routerLink="/login">Sign In</a>
              </li>
        </ul>
      </div>
    </div>
  </nav>