
h2{
    float: left;
    font-size: 40px;
    border-bottom: 2px solid green;
}

/* @media (min-width: 576px) { 
    .login-box{
        margin-top: 10% !important;
        
    }
 }

@media (min-width: 768px) { 
    .login-box{
        margin-top: 10% !important;
        
    }
 }

@media (min-width: 992px) {
    .login-box{
        margin-top: 10% !important;
        
    }
 }

@media (min-width: 1200px) { 
    .login-box{
        margin-top:10%;
        margin-left: 30%;
        
    }
 } */




@media (min-width: 1200px) { 
    .login-box{
        margin-top:10%;
        margin-left: 25%;
        
    }
 }