<div class="container align-center addtc">
<form [formGroup]="ticketform" (ngSubmit)="uploadNewTicket()" class="md-form" style="width: 60%;margin-left:20%;margin-top:5%;" enctype="multipart/form-data">
  <div class="form-group">
    <label for="inputState">Department</label>
      <select id="inputState" class="form-control" formControlName="departmentId">
        <option selected disabled>Choose...</option>
        <option value="7189000000051431">PWSLab DevOps Support</option>
        <option value="7189000001062045">iSupport</option>
      </select>
  </div>
  <div class="form-group ">
    <label for="inputState">Category</label>
    <select id="inputState" class="form-control" formControlName="category">
      <option selected disabled>None-</option>
      <option value="DevSecOps Pipeline Setup">DevSecOps Pipeline Setup</option>
      <option value="CI/CD pipeline failure">CI/CD pipeline failure</option>
      <option value="DevSecOps Pipeline Setup">DevSecOps Pipeline Setup</option>
      <option value="CI/CD pipeline failure">CI/CD pipeline failure</option>
    </select>
  </div>
    <div class="form-group">
      <label for="inputAddress">PWSLab Project URL </label>
      <input type="text" class="form-control" id="inputAddress" placeholder="" formControlName="cf">
    </div>
    <div class="form-group">
      <label for="subject">Subject</label>
      <input type="text" class="form-control" id="subject" placeholder="" formControlName="subject">
    </div>
    <div class="form-group">
      <label for="sgc">Description</label>
      <ejs-richtexteditor #richtxt id='defaultRTE' id="sgc">
        </ejs-richtexteditor>
    </div>
    <h1 style="margin-top: 20px;margin-bottom:20px;">Contact Details</h1>
    <div class="form-group">
      <label for="subject">Contact Name</label>
      <input type="text" class="form-control" id="subject" placeholder="" formControlName="contactName">
    </div>
    <div class="form-group">
      <label for="subject">Email</label>
      <input type="text" class="form-control" id="subject" placeholder="" formControlName="email">
    </div>
    <div class="form-group">
      <label for="subject">Phone</label>
      <input type="number" class="form-control" id="subject" placeholder="" formControlName="phone">
    </div>
    <h1 style="margin-top: 20px;margin-bottom:20px;">Additional Information</h1>
    <div class="form-group ">
      <label for="inputState">Priority*</label>
      <select id="inputState" class="form-control" formControlName="priority">
        <option selected disabled>None-</option>
        <option value="High - Production System Down">High</option>
        <option value="Medium - System Impaired">Medium</option>
      </select>
    </div>
      <div class="form-group">
          <input type="file"
                       id="file"
                       multiple
                       (change)="handleFileInput($event)">
      </div>
      <div class="col-lg-12 col-md-12 float-left">
        <ul class="overflow-hidden col-lg-4 col-md-4 float-left " *ngFor="let file of selectedFiles">
          <li class="border border-success list-group-item overflow-hidden">{{ file.name }}</li>
        </ul>
      </div>
      <div class="form-group col-6">

        <button type="submit" class="btn btn-primary" [disabled]="!ticketform.valid">Submit</button>
        <button class="btn btn-danger ml-2 " (click)="discard()">Discard</button>
	    </div>
  </form>
</div>
